# Node modules
node_modules/

# Build output
dist/
build/
*.log

# Environment files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional directories
coverage/
*.tgz

# Dependency directories
.pnp/
.pnp.js
